name: Dagger sample

on: [workflow_dispatch]

jobs:
  dagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: dagger/dagger-for-github@v2
        with:
          version: 0.2
          workdir: dagger/todoapp
          cmds: |
            project update
            do build
  